<header id="header">
  <div class="navbar-forty">
    <div class="container-fluid">
      <div class="child-nav">
        <div class="left-section-nav">
          {{!-- left section nav --}}
          <a href="" class="logo_forty">
            <strong>
              F O R T Y
            </strong>
          </a>
        </div>
        <div class="right-section-nav">
          {{!-- right section nav --}}
          <div class="txt-toggle-menu">
            <span>M E N U</span>
          </div>
          <button id="toggleMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
      {{!-- TOGGLE MENU --}}
      <div class="toggle-menu">
        <div class="toggle-inner">
          {{!-- M E N U --}}
          <ul class="menu">
            <li>
              <a href="#">
                HOME
              </a>
            </li>
            <span></span>
            <li>
              <a href="#">
                LANDING
              </a>
            </li>
            <span></span>
            <li>
              <a href="#">
                GENERIC
              </a>
            </li>
            <span></span>
            <li>
              <a href="#">
                ELEMENTS
              </a>
            </li>
            <span></span>
          </ul>
          {{!-- M E N U   B U T T O N S --}}
          <ul class="menu-buttons">
            <li>
              <a class="register_open">
                REGISTER
              </a>
            </li>
            <li>
              <a class="signin_open">
                SIGN IN
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>